*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #380E11;
}

.header{
  color: white;
  font-size: xx-large;
}

img[lazy=loading] {
  /*your style here*/
  opacity: 0;
  transition:  all 5ms ease-in;
}

img[lazy=loaded] {
  /*your style here*/
  opacity: 1;
  
}
  
.masonry { /* Masonry container */
-webkit-column-count: 4;
-moz-column-count:4;
column-count: 4;
-webkit-column-gap: 1em;
-moz-column-gap: 1em;
column-gap: 1em;
  padding: 0;
  -moz-column-gap: 1.5em;
  -webkit-column-gap: 1.5em;
  column-gap: 10px;
  font-size: .85em;
}

img{
max-width:100%;
margin-bottom: 5px;}

@media only screen and (max-width: 360px) {
  .masonry {
      -moz-column-count: 1;
      -webkit-column-count: 1;
      column-count: 1;
  }
}

@media only screen and (min-width: 362px) and (max-width: 768px){
  .masonry {
      -moz-column-count: 1;
      -webkit-column-count: 1;
      column-count: 1;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1200px){
  .masonry {
      -moz-column-count: 3;
      -webkit-column-count: 3;
      column-count: 3;
  }
}
@media only screen and (min-width: 1200px) {
  .masonry {
      -moz-column-count:4;
      -webkit-column-count: 4;
      column-count: 4;
  }
}

